@using PagedList
@using PagedList.Mvc
@model IPagedList<UserSite.Models.CartModels>
@{
    ViewBag.Title = "Cart";
}

<section id="cart_items">
    <div class="container">
        <br/>
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")" id="testing2">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var cart in Model)
                {
                    <tr>
                        <td class="cart_product">
                            <img src="@cart.ProductImage" id="cart-image" alt="Cart Image">
                        </td>
                        <td class="cart_description">
                            <h4><a href="">@cart.ProductName</a></h4>
                            <p>ID: @cart.ProductId</p>
                        </td>
                        <td class="cart_price">
                            <p>@cart.Price</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                @cart.Quantity
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$@cart.Total</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="@Url.Action("DeleteFromCart", "ProductDetails", new {id = cart.ProductId})">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Cart", new { page }), PagedListRenderOptions.Classic)
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>
                            Total
                            <span>                                                               
                                @Model.Sum(cart => cart.Total)
                            </span>
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="@Url.Action("CheckOut")" id="testing2">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->